nav{
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #e29b18;
    height: 10vh;
}

ul{
    list-style-type: none;
}

img {
    width: 100px;
    height: 100px;
}

a {
    text-decoration: none;
    color: black;
}