<div class="container">
    <form class="form" (ngSubmit)="signIn()">
        <img src="./assets/Logo.png" alt="Flare">
        <label for="email">Email</label>
        <input type="text" name="email" required email [(ngModel)]="credentials.email">
        @if(signInError){
        <em class="error">Email nieprawidłowy</em>
        }
    <!-- EM TUTAJ Z ERROREM -->
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required [(ngModel)]="credentials.password">
    <!-- EM TUTAJ Z ERROREM -->
        <button type="submit">Login</button>
        <!-- do buttona można dodać disabled="!form.valid" -->
    </form>
</div>